.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto; 
}

.contact_container > div {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.contact_container > div h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.contact_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  max-height: 600px;
}

.contact_details {
  display: flex;
  gap: 1rem;
}

.contact_details-icon {
  margin-top: none;
  color: var(--color-primary);
}
